/* Root Variables */
:root {
  --background-color: #d1d1d1;
  --text-color: #6f6f6f;
  --header-background-color: rgb(7, 0, 53);
  --header-text-color: #adadad;
  --highlight-color: rgba(255, 68, 0, 1);
  --highlight-hover-color: rgba(255, 68, 0, 0.8);
  --button-background-color: rgb(37, 48, 254);
  --button-hover-color: rgba(37, 48, 254, 0.8);
  --testimonial-background-color: #868686;
  --testimonial-text-color: rgb(5, 5, 5);
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.align-center{
  text-align: center;
}

/* Typography */
body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  background-image: url("/static/image/backgroundAsset.png");
  background-repeat: no-repeat;
  background-size: cover;
}
ul li{
  list-style: none;
}

ul{
  display: flex;
  gap: 2em;
  font-size: 1.5em;
}
h1, h2, h3, h4{
  text-align: center; /* Align headers to the center */
  color: var(--header-text-color);
  letter-spacing: 1.5px;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2em;
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 20px;
}

/* Main Content */
main {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  gap: 55px;
  width: 75%;
}

/* Navigation */
.navigator {
  display: flex;
  padding: 1.1rem;
  margin: 1.5em 0;
  justify-content: center;
  align-items: center;
  background-color: var(--header-background-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  position: sticky;
  z-index: 2;
  top: 0;
}

.navlist {
  display: flex;
  list-style: none;
  gap: 2rem;
  font-size: 1.2rem;
}

nav a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #0056b3;
  text-decoration: underline;
  animation: zoom 1s infinite;
}

/* Intro Section */
.intro-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  scroll-margin: 50rem;
}

.brief-intro {
  display: grid;
  grid-template-columns: repeat(auto-fit);
}

.profile-img {
  background-image: url("/static/image/image2.jpg");
  width: 14em;
  height: 14em;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100em;
}

.brief-intro h1 {
  font-size: 3rem;
  color: gray;
}

.brief-intro p {
  font-size: 1.2rem;
  color: white;
}

/* Buttons */
.get-started, .button-style, .send {
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2rem;
  border-radius: 20px;
  border: none;
  background-color: var(--highlight-color);
  margin: 2.5% auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s;
}
.send{
  width: 10em;
}
.get-started:hover, .button-style:hover, .send:hover {
  color: white;
  background-color: var(--highlight-hover-color);
}
.get-started:hover{
  animation: zoom infinite 0.5s;
}

.button-style:active, .send:active {
  background-color: green;
}

button, .button-style, .send {
  position: relative;
  z-index: 1;
}

/* Display Grid */
.display-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

/* Testimonials */
#testimonials {
  padding: 10px;
  background-color: rgba(51, 61, 250, 0.5);
  scroll-margin: 8rem;
  width: 100%;
}

.user-feedbacks {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--testimonial-text-color);
  width: fit-content;
}

.user-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--testimonial-background-color);
  min-height: 15.625em;
  width: auto;
  padding: 0.75em;
  border-radius: 0.3125em;
  box-shadow: 0 0.3125em 0.9375em rgba(0, 0, 0, 0.9);
}

.user-feedback p {
  text-align: justify;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2rem;
  flex-grow: 1; /* Use all available height */
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* Recent Work */
#recent-work {
  padding: 10px;
  background-color: rgba(51, 61, 250, 0.5);
  scroll-margin: 7rem;
  width: 100%;
  color: rgb(5, 5, 5);
}

.work {
  background-color: #868686;
  min-height: 250px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.recent-work-container {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  scroll-margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.recent-work-container legend {
  color: rgb(5, 5, 5);
}

.recent-work-container p {
  text-align: start;
}

/* Forms */
form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure form width is within the parent */
  gap: 0.5em;
  margin: 0 auto;
}

form input, form textarea, form select {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5em;
  /* background: rgba(0, 0, 0, 0.1); */
  border-bottom: 1px solid #ccc;
  transition: all 0.3s ease;
}

form input:focus, form textarea:focus, form select:focus {
  scale: 1.09;
  box-shadow: black 0 0 5px;
  border-bottom: 1px solid #007BFF;
  color: white;
}

form label {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #aaa;
}

/* Get In Touch */
.get-in-touch {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.get-in-touch form{
  margin: auto;
  width: 90%;
}
textarea {
  outline: none;
  padding: 0.2rem;
}

/* Arrow Up */
.arrow-up {
  background-color: var(--button-background-color);
  font-size: 1rem;
  border-radius: 3px;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  position: static;
}

.arrow-up a {
  display: flex;
  flex-direction: column;
  color: wheat;
  padding: 2px;
  text-decoration: none;
}

/* Animations */
@keyframes zoom {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .navlist {
    font-size: 0.9rem;
    gap: 10px;
  }
  .user-feedbacks {
    flex-direction: column;
  }
  nav ul li {
    flex-direction: column;
  }
  .display-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .brief-intro h1 {
    font-size: 2rem;
  }
  .brief-intro p {
    font-size: 1rem;
  }
  .brief-intro input {
    padding: 1rem;
    font-size: 1rem;
  }
  .send {
    width: fit-content;
  }
  .push-down p {
    text-align: center;
  }
  .company-list ul {
    flex-direction: row;
  }
  .company-list ul li {
    margin: 10px 0;
  }
  .recent-work-container {
    flex-direction: column;
  }
  .get-in-touch p {
    width: 100%;
  }
  #get-in-touch p {
    width: 20em;
  }
  form {
    width: 100%;
  }
}

#testimonials, #recent-work, #comments {
  width: 100%;
}

/* Comments */
#comments {
  background-color: rgba(51, 61, 250, 0.5);
  width: 100%;
  color: rgb(5, 5, 5);
}

#comments form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#comments input, #comments textarea {
  margin: auto;
  width: 90%;
  outline: none;
  border: none;
  padding: 0.5em;
}

#comments .send {
  font-size: 1.2rem;
  border-radius: 50px;
  border: none;
  background-color: var(--button-background-color);
  cursor: pointer;
}

.get-in-touch p {
  width: 50%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */
